<h1>Editing <%= controller_singular_name %></h1>

<%%= render :partial => "edit" %>

<%%= link_to 'Show', :controller => '<%= controller_file_path %>', :action => 'show', :id => @<%= controller_singular_name %>.id %> |
<%%= link_to 'Back', :controller => '<%= controller_file_path %>', :action => 'index' %>
