<h1><%= controller_singular_name %></h1>

<%%= partial_scaffold.initialize_js -%>

<div class="partial_group" >
  <%%= render :partial => "show" %>
</div>

<hr/>
<%%= link_to 'Back', :controller => '<%= controller_name %>', :action => 'index' %>
