<h1>New <%= controller_singular_name %></h1>

<%%= partial_scaffold.initialize_js -%>

<div class="partial_group" id="<%= controller_singular_name %>">
  <%%= render :partial => "new" %>
</div>

<hr/>
<%%= link_to 'Back', :controller => '<%= controller_name %>', :action => 'index' %>
